h1 {
  font-size: 25px;
  letter-spacing: 2px;
  padding: 5px 0;
  margin: 5px 0;
}
h3 {
  margin: 5px 0 0 0;
  font-size: 15px;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.container {
  background-color: white;
  margin: 30px auto 50px;
  padding: 10px 20px 50px;
  width: 500px;
  font-family: "Open Sans", sans-serif;
  opacity: 90%;
  border-radius: 2px;
}
.center {
  text-align: center;
}
.current-city {
  margin-top: 10px;
}

.all-current-info-left {
  margin: 20px 0px;
}
.current-day-and-time {
  padding-bottom: 10px;
}
.symbol {
  color: #167bca;
  height: 30px;
}
.symbol-and-degrees {
  text-align: right;
  padding: 0px 30px 30px;
}
.local-city-btn {
  margin: 0 10px;
  padding: 6px 21px;
}
.icons {
  height: 50px;
  width: 50px;
}
.signature {
  text-align: center;
}
#local-city-btn {
  padding: 0 31px 0;
}
#logo {
  display: block;
  margin: 10px auto;
  width: 100%;
}
#search-btn {
  color: #167bca;
  outline: #167bca;
  padding: 6px 15px;
}
#current-day-and-time {
  color: #ff3366;
  font-size: large;
}
#current-weather-text {
  color: #ffa726;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#current-weather-symbol {
  color: #ffa726;
  font-size: 75px;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px grey;
}

#current-temperature-figure {
  font-size: xx-large;
}
#celsius-and-fahrenheit {
  position: relative;
  bottom: 10px;
}
#celsius-btn:hover {
  opacity: 75%;
  cursor: pointer;
  text-decoration: underline;
}
#fahrenheit-btn {
  opacity: 50%;
}
#fahrenheit-btn:hover {
  opacity: 100%;
  cursor: pointer;
  text-decoration: underline;
}

#forecast {
  padding-bottom: 10px;
}
