#background-video {
  display: block;
  margin: 0 auto;
  position: fixed;
  height: 150%;
  z-index: -999;
  top: 0;
  left: 0;
}

h1 {
  font-size: 25px;
  letter-spacing: 2px;
  padding: 5px 0;
  margin: 5px 0;
}
h3 {
  margin: 5px 0 0 0;
  font-size: 15px;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  padding: 20px;
}

.container {
  margin: 50px auto;
  padding: 0;
  width: 100%;
}
.weather-app-wrapper {
  background-color: white;
  margin: auto;
  padding: 25px;
  width: 550px;
  font-family: "Open Sans", sans-serif;
  opacity: 90%;
  border-radius: 2px;
  color: black;
}
.center {
  text-align: center;
}
.current-city {
  margin-top: 10px;
}

.all-current-info-left {
  margin: 20px 0px;
}
.current-day-and-time {
  padding-bottom: 10px;
}
.symbol {
  color: #167bca;
  height: 30px;
}
.symbol-and-degrees {
  text-align: center;
  padding: 0px 30px 30px;
  position: relative;
  bottom: 10px;
  left: 50px;
}
.local-city-btn {
  margin: 10px 10px 0;
  padding: 6px 21px;
}
.icons {
  height: 50px;
  width: 50px;
}

#local-city-btn {
  padding: 0 31px 0;
}
#logo {
  display: block;
  margin: 10px auto 30px;
  width: 100%;
}
#search-btn {
  color: #167bca;
  outline: #167bca;
  padding: 6px 15px;
}
#current-day-and-time {
  color: #ff3366;
  font-size: large;
}
#current-weather-text {
  color: #ff3366;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#current-weather-symbol {
  color: #ff3366;
  font-size: 75px;
  display: block;

  margin: 0;
  padding: 0;
  text-shadow: 2px 2px grey;
}

#current-temperature-figure {
  font-size: xx-large;
}
#celsius-and-fahrenheit {
  position: relative;
  bottom: 10px;
}
#celsius-btn:hover {
  opacity: 75%;
  cursor: pointer;
  text-decoration: underline;
}
#fahrenheit-btn {
  opacity: 50%;
}
#fahrenheit-btn:hover {
  opacity: 100%;
  cursor: pointer;
  text-decoration: underline;
}

#forecast {
  padding-bottom: 10px;
}
#signature {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 140px;
}

@media screen and (min-width: 240px) and (max-width: 640px) {
  #signature {
    left: 140px;
  }
}
